---
import "../styles/global.css";
import Navigation from "../component/navigation.astro";
import Footer from "../component/footer.astro";
const titulo = "Blog";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{titulo}</title>
  </head>
  <body>
    <Navigation />

    <h1>Mi aprendizaje en astro</h1>
    <p>En este blog comentare mis progresos con astro</p>
    <ul>
      <>
        <a href="/post/post-1">Primera publicacion</a>
        <br />
        <a href="/post/post-2">Segunda publicacion</a>
        <br />
        <a href="/post/post-3">Tercera publicacion</a>
      </>
    </ul>
    <Footer />
  </body>
</html>
