---
import '../styles/global.css';
import BaseLayout from '../layout/baseLayout.astro';
const titulo = "Casa";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{titulo}</title>
  </head>
  <body>
    <BaseLayout titulo={titulo}>
    <h2>Bienvenido</h2>
    </BaseLayout>
    <script>
      import '../scripts/menu'
    </script>
  </body>
</html>
