<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Casa</a>
        <a href="/sobreMi/">Sobre mi</a>
        <a href="/blog/">Blog</a>
        <h1>Sobre Mi</h1>
        <h2>Esta es mi primer sitio web con astro</h2>

        <p>Quise aprender una nueva forma de desarrollar sitios web y descubri astro. Espero que esta pagina les guste, ya que pondre todo mi esfuezo en esto</p>
	</body>
</html>