---
const {frontmatter} = Astro.props;
---

<h1>{frontmatter.title}</h1>
<p>Publicado el: {frontmatter.pubDate.slice(0,10)}</p>
<p><em>{frontmatter.descripcion}</em></p>
<p>Escrito por {frontmatter.author}</p>
<slot/>