---
import BaseLayout from "./baseLayout.astro";
const {frontmatter} = Astro.props;
---
<BaseLayout titulo={frontmatter.title}>
<p>Publicado el: {frontmatter.pubDate.slice(0,10)}</p>
<p><em>{frontmatter.descripcion}</em></p>
<p>Escrito por {frontmatter.author}</p>
<slot/>
</BaseLayout>